
# Created by https://www.gitignore.io/api/angular,visualstudiocode

### Angular ###
## Angular ##
# compiled output
ClientApp/dist
ClientApp/tmp
ClientApp/app/**/*.js
ClientApp/app/**/*.js.map

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings


#System Files
.DS_Store

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/angular,visualstudiocode